<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
 <div>
        <% allstocks.forEach(stock => { %>
            <div class="name-box">
                <img src="../logos/<%= stock.ticker%>.png"alt="<%= stock.company_name %> logo">
                <h6><%= stock.company_name %></h6>
            </div>
        <% }); %>
    </div>
    
        <select id="timeRange">
            <option value="1">1M</option>
            <option value="3">3M</option>
            <option value="6">6M</option>
            <option value="12">1Y</option>
        </select>    
    
    <div>
        <canvas id="myChart"></canvas>
    </div>
    
    <script>
        let chart;
        const ctx = document.getElementById('myChart');

        function updateChart(labels, data) {
            if (chart) {
                chart.destroy(); // Destroy old chart instance
            }
            chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: '<%- stockdata.company_name %> stock price',
                        data: data,
                        fill: true,
                        borderColor: 'rgb(0, 0, 192)',
                        tension: 0
                    }]
                }
            });
        }
        updateChart(<%- JSON.stringify(days) %>, <%- JSON.stringify(stock_price_array) %>);

        const objSelect = document.getElementById('timeRange')

        let t='<%= timePeriod%>';
        let optSelected = objSelect.querySelector(`option[value="${t}"]`);
        
        let currentlySelected = objSelect.querySelector('option[selected]');
if (currentlySelected) {
    currentlySelected.removeAttribute('selected');
}

// Set the selected attribute for the correct option
if (optSelected) {
    optSelected.setAttribute('selected', 'true');
}

// Move the selected option to the top
let optFirst = objSelect.querySelector('option');
objSelect.insertBefore(optSelected, optFirst);
  

        document.getElementById('timeRange').addEventListener('change', async function () {
            const timePeriod = this.value;
            const string =`/<%= stockdata.ticker %>/${timePeriod}`;
            window.location.href=string;
        });
    </script>
</body> 
</html>
