<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewStocks</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <style>
        .scrollbar::-webkit-scrollbar {
            width: 6px;
        }
        .scrollbar::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        .scrollbar::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 4px;
        }
        .scrollbar::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>
</head>
<body class="h-screen flex bg-gray-100">
    <div class="w-full h-full flex">
        
        <!-- Companies List -->
        <div class="w-1/4 h-full p-4 overflow-y-auto bg-white flex flex-col space-y-4 scrollbar">
            <% allstocks.forEach(stock => { %>
              <div class="flex items-center gap-4 p-4 border border-gray-300 rounded-xl shadow-md bg-gray-50 hover:bg-gray-200 cursor-pointer" data-stock-id="<%= stock.ticker %>">
                <img src="../logos/<%= stock.ticker %>.png" class="h-16 w-16 object-contain rounded-full" alt="<%= stock.company_name %> logo">
                <h6 class="text-lg font-semibold text-gray-800"><%= stock.company_name %></h6> 
              </div>
            <% }); %>
        </div>
        
        <!-- Stock Visualizer -->
        <div class="w-2/4 h-full p-6 bg-gray-200 shadow-md flex flex-col self-start border-r-2">
            <h2 class="text-2xl font-bold mb-4 text-gray-800 border-b-2 border-gray-400 pb-2">Stock Price Chart</h2>
            <select class="w-24 h-10 border-2 border-gray-400 rounded-lg p-2 bg-white shadow-sm" id="timeRange">
                <option value="1">1M</option>
                <option value="3">3M</option>
                <option value="6">6M</option>
                <option value="12">1Y</option>
            </select>  
            <canvas id="myChart" class="mt-6 w-full"></canvas>
        </div>
        
        <!-- News Section -->
        <div class="w-1/4 h-full p-4 overflow-y-auto bg-white shadow-lg flex flex-col space-y-4 scrollbar">
            <h2 class="text-2xl font-bold text-gray-800 border-b-2 border-gray-400 pb-2">Latest News</h2> 
            <% news.forEach((artcl) => { %>
                <div class="border border-gray-300 rounded-xl p-6 bg-gray-50 shadow-md"> 
                    <h6 class="border-b border-gray-300 text-lg font-semibold text-gray-700 pb-2">
                        <%= artcl.title %>
                    </h6>
                    <p class="text-sm text-gray-600 mt-2">
                        <%= artcl.body %>
                    </p>
                </div>
            <% }); %>
        </div>
    </div>
    
    <script>
        let chart;
        const ctx = document.getElementById('myChart').getContext('2d');

        function updateChart(labels, data) {
            if (chart) {
                chart.destroy();
            }
            chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: '<%- stockdata.company_name %> Stock Price',
                        data: data,
                        fill: true,
                        borderColor: 'rgb(0, 0, 192)',
                        tension: 0.1
                    }]
                } 
            });
        }
        updateChart(<%- JSON.stringify(days) %>, <%- JSON.stringify(stock_price_array) %>);

        const objSelect = document.getElementById('timeRange');
        let t = '<%= timePeriod %>';
        let optSelected = objSelect.querySelector(`option[value="${t}"]`);
        let currentlySelected = objSelect.querySelector('option[selected]');
        if (currentlySelected) {
            currentlySelected.removeAttribute('selected');
        }
        if (optSelected) {
            optSelected.setAttribute('selected', 'true');
        }


  
        document.getElementById('timeRange').addEventListener('change', function () {
            const timePeriod = this.value;
            window.location.href = `/<%= stockdata.ticker %>/${timePeriod}`;
        });

        document.querySelectorAll("[data-stock-id]").forEach(element => {
            element.addEventListener("click", () => {
                const stockId = element.dataset.stockId;
                const urlParts = window.location.href.split("/");
                if (urlParts.length >= 4) {
                    urlParts[3] = stockId;
                    const newUrl = urlParts.join("/");
                    window.location.href = newUrl;
                }
            });
        });
    </script>
</body> 
</html>
