<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
 <div>
        <% allstocks.forEach(stock => { %>
            <div class="name-box">
                <img src="../logos/<%= stock.ticker%>.png"alt="<%= stock.company_name %> logo">
                <h6><%= stock.company_name %></h6>
            </div>
        <% }); %>
    </div>
    <div>
        <canvas id="myChart"></canvas>
    </div>
    
    <script>
        const ctx = document.getElementById('myChart');

         
    
        const data = {
            labels: <%- JSON.stringify(days)  %>,
            datasets: [{
                label: '<%-stockdata.company_name %> stock price',
                data: <%- JSON.stringify(stock_price_array)  %>,
                fill: true,
                borderColor: 'rgb(0, 0, 192)',
                tension: 0
            }]
        };

        new Chart(ctx, {
            type: 'line',
            data: data
        });
    </script>
</body>
</html>
