<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three Section Layout</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        .scrollbar::-webkit-scrollbar {
            width: 8px;
        }
        .scrollbar::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        .scrollbar::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 4px;
        }
        .scrollbar::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>
</head>
<body class="h-screen flex bg-gray-100">
    <div class="w-full h-full flex">
        <!-- Companies list -->
        <div class="w-1/4 h-full p-4 overflow-y-auto bg-white flex flex-col space-y-2 scrollbar">
            <% allstocks.forEach(stock => { %>
                <div class="">
                    <img src="../logos/<%= stock.ticker%>.png"alt="<%= stock.company_name %> logo">
                    <h6><%= stock.company_name %></h6>
                </div>
            <% }); %>
        </div>    
    
        <!-- Stocks visualiser -->
        <div class="w-2/4 h-full p-4 bg-gray-200 shadow-md">
            <canvas id="myChart"></canvas>
        </div>

        <!-- News section -->
        <div class="w-1/4 h-full p-4 overflow-y-auto bg-white shadow-lg flex flex-col space-y-4">
            <div class="p-4 bg-green-200 rounded">
                <iframe src="https://example.com" class="w-full h-32 border rounded"></iframe>
            </div>
            <div class="p-4 bg-green-200 rounded">
                <iframe src="https://example.com" class="w-full h-32 border rounded"></iframe>
            </div>
            <div class="p-4 bg-green-200 rounded">
                <iframe src="https://example.com" class="w-full h-32 border rounded"></iframe>
            </div>
        </div>
        
    
    </div>
    <script>
        const ctx = document.getElementById('myChart');

         
    
        const data = {
            labels: <%- JSON.stringify(days)  %>,
            datasets: [{
                label: '<%-stockdata.company_name %> stock price',
                data: <%- JSON.stringify(stock_price_array)  %>,
                fill: true,
                borderColor: 'rgb(0, 0, 192)',
                tension: 0
            }]
        };

        new Chart(ctx, {
            type: 'line',
            data: data
        });
    </script>
</body>
</html>
